@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-transparent: transparent;
    --color-current: currentColor;

    --color-tml-blue-200: #4a7abd;
    --color-tml-blue-400: #234ae8;
    --color-tml-blue-600: #0022a2;
    --color-tml-blue-700: #2d3b70;
    --color-tml-blue-800: #031235;
    --color-tml-gold-300: #f4a82e;
    --color-tml-gold-400: #f06d1b;
    --color-tml-red-300: #d73260;
    --color-tml-red-400: #ab1a25;
    --color-tml-red-500: #8d0d30;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility text-balance {
    text-wrap: balance;
}

@layer utilities {
    :root {
        --background: #ffffff;
        --foreground: #0b0e29;
    }

    .vert-border {
        border-image: linear-gradient(to bottom, #475569, #0f172a) 1;
    }

    .vert-border--reverse {
        border-image: linear-gradient(to bottom, #0f172a, #475569) 1;
    }
}

a:hover {
    color: #234ae8;
}

p,
li {
    font-family: aktiv-grotesk, sans-serif, helvetica, -apple-system,
        BlinkMacSystemFont, 'Open Sans', sans-serif, Oxygen, Ubuntu, Cantarell,
        'Helvetica Neue';
}

* {
    letter-spacing: 0.2px;
}

.vert-border {
    border-width: 1px;
    border-style: dashed;
    border-image: linear-gradient(to bottom, #0284c7, #bae6fd) 1;
    border-bottom: 0;
    border-top: 0;
}

.vert-border--reverse {
    border-image: linear-gradient(to bottom, #bae6fd, #0284c7) 1;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

    /* --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
}

.dev {
    outline: 1px solid hotpink;
}
