@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #0b0e29;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #232529;
        --foreground: #f5f6f6;
    }

    a,
    * {
        color: #f5f6f6;
    }

    .vert-border {
        border-image: linear-gradient(to bottom, #475569, #0f172a) 1;
    }

    .vert-border--reverse {
        border-image: linear-gradient(to bottom, #0f172a, #475569) 1;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

a:hover {
    color: #234ae8;
}

p,
li {
    font-family: aktiv-grotesk, sans-serif, helvetica, -apple-system,
        BlinkMacSystemFont, 'Open Sans', sans-serif, Oxygen, Ubuntu, Cantarell,
        'Helvetica Neue';
}

* {
    letter-spacing: 0.2px;
}

.vert-border {
    border-width: 1px;
    border-style: dashed;
    border-image: linear-gradient(to bottom, #0284c7, #bae6fd) 1;
    border-bottom: 0;
    border-top: 0;
}

.vert-border--reverse {
    border-image: linear-gradient(to bottom, #bae6fd, #0284c7) 1;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

    --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dev {
    outline: 1px solid hotpink;
}
